<h1 class="page-header">Pobriši pitanje</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="col-md-6" *ngIf="foundQna">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" name="button" class="close" data-dismiss="modal">
        &times;
      </button>

      <h4 class="modal-title">Potvrdi</h4>
    </div>

    <div class="modal-body">
      <p>Sigurno želiš pobrisati pitanje?</p>
    </div>

    <div class="modal-footer">
      <button
        [disabled]="processing"
        type="button"
        name="button"
        class="btn btn-success"
        (click)="deleteQna()"
      >
        Da
      </button>

      <a routerLink="/"
        ><button
          [disabled]="processing"
          type="button"
          name="button"
          class="btn btn-danger"
        >
          Ne
        </button></a
      >
    </div>
  </div>

  <br />

  <!-- Panel -->
  <div class="panel panel-primary">
    <!-- Panel Heading -->
    <div class="panel-heading">
      <!-- Panel Title -->
      <h3 class="panel-title">{{ qna.title }}</h3>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
      {{ qna.body }}
    </div>

    <!-- Panel Footer -->
    <div class="panel-footer">
      <strong>Objavio: </strong> {{ qna.createdBy }}
      <br />
      <strong>Datum: </strong> {{ qna.createdAt | date: "dd.MM.yyyy  H:mm" }}
    </div>
  </div>
</div>
